{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="div-width-100-text-center">
	<h3>{% trans "Contacts" %}</h3>
</div>
<div class="row">
	<div class="col-md-6">
		<p>Интернет-магазин &quot;Букватория&quot; - ИП Поляков Александр Михайлович</p>

		<p>ИНН 312302477334</p>

		<p>ОГРНИП 304312335100941</p>

		<p>Телефон интернет-магазина для справок и заказов с 10-00 до 20-00 по МСК: <strong><span style="text-decoration: underline; color: #993300;"><span style="color: #993300; text-decoration: underline;">+7(951) 143-04-04</span></span></strong></p>

		<p><strong>e-mail: <a href="mailto:zakazbuk@gmail.com">zakazbuk@gmail.com</a>&nbsp;</strong></p>

		<p><strong><strong>г. Белгород, Народный бульвар, 43 </strong></strong><br />
		ост. &laquo;ул. Николая Чумичова&raquo; или &laquo;Скорая помощь&raquo;<br />
		тел. <span style="text-decoration: underline; color: #993300;"><a href="tel:+79511458721"><span style="color: #993300; text-decoration: underline;">+7(951) 145-87-21</span></a></span><br />
		<span style="color: #000000;">Режим работы* 9:30 - 19:30 без перерыва, выходной: сб, вс.</span></p>

		<p><strong><strong>г. Белгород, улица Губкина, 25 </strong></strong><br />
		ост. &laquo;Городская больница №2&raquo;<br />
		тел.&nbsp; <span style="text-decoration: underline; color: #993300;"><a href="tel:+79040969325"><span style="color: #993300; text-decoration: underline;">+7(904) 096-93-25</span></a></span><br />
		<span style="color: #000000;"><span style="color: #000000;">Режим работы* 9:00 - 20:00 без перерыва и выходных</span></span></p>

		<p><strong><strong><strong>г. Белгород, проспект Богдана Хмельницкого, 132А </strong></strong></strong><br />
		ост. &laquo;Дом мебели&raquo;<br />
		тел. <span style="text-decoration: underline; color: #993300;"><a href="tel:+79087847512"><span style="color: #993300; text-decoration: underline;">+7(908) 784-75-12</span></a></span><br />
		<span style="color: #000000;"><span style="color: #000000;">Режим работы* 9:00 - 19:00 без перерыва и выходных</span></span></p>

		<p><strong><strong><strong>г. Белгород, улица им. 50летия Белгородской области, 17В </strong></strong></strong><br />
		ост. &quot;Центральный рынок&quot;<br />
		тел. &nbsp;<a href="tel:+79517636599"><span style="text-decoration: underline; color: #993300;">+7(951) 763-65-99</span></a><br />
		Режим работы* 9:00 - 19:30 без перерыва и выходных</p>	
	</div>
	<div class="col-md-6" style="position:relative;overflow:hidden;">
		<p><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3AbKtQJe84IOm95B33Xnp0sluz-Cvnr15k&amp;width=731&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script></p>

	</div>
</div>
{% endblock content %}